<h1>Welcome to Todolist</h1>

<p>
  Hello <strong>@user.username</strong>,<br>

  Welcome to Todolist. Your account is now confirmed.
</p>
<br><br>

<p>
  You can use now <%= link_to "sign in", sign_in_url %> to access your account.
</p>
